body {
    text-align: center;
    background-color: black
}

marquee {
    color: goldenrod;
    font-size: 50
}

h1 {
    color: orange
}

h2 {
    color: blue
}

h3 {
    color: brown
}

h6 {
    font-size: 50
}

p {
    color: red
}

#place {
    height: 500;
    width: 1000
}

#desk {
    height: 300;
    width: 1000
}

#home {
    height: 555;
    width: 1000
}

#name {
    background-color: aliceblue
}

#campus {
    background-color: lightblue
}

#achievement {
    background-color: skyblue
}

#new {
    background-color: deepskyblue
}

iframe {
    margin: 50px
}

li {
    display: inline;
}

li {
    float: left;
    background-color: goldenrod
}

a {
    display: block;
    padding: 8px;
}

ul {
    position: fixed;
    top: 0;
    width: 100%;
}
